<!-- Loop over each object in the projects array -->
<div class="container">
  {{#each blogs as |blog| }}
  <div class="box mx-auto my-auto">
    <div class="has-background-success-light">
      <h2 class="font is-size-3 ">
        {{blog.title}}
      </h2>
    </div>
    <p class="blogBody">
      {{blog.body}}
    </p>
    <div class="blogStamp">
      <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    </div>

    {{#if blog.comments}}
    {{#each blog.comments as |comment|}}
    <div class="box mx-auto my-auto savedComment">
      <div class="delDiv">
        <button class="button blogDelete">Delete</button>
      </div>
      <p>{{comment.body}}</p>
      <div class="blogStamp">
        <p>Created on {{format_date comment.date_created}}</p>
      </div>
    </div>
    {{/each}}
    {{/if}}
    <div class="container">
      <form class="box columns mx-auto my-auto new-user-div new-blog-form">
        <h2>Enter comment here:</h2>
        <input class="input new-comment" type="text" placeholder="Write your comment here.">
        <button class="button has-background-success-light mx-auto mt-4 blog-submit-btn"
          id="comment-submit-btn" value= {{blog.id}}>Post</button>
      </form>
    </div>
  </div>
  {{/each}}

</div>
<script src="/js/script.js"></script>